// Type definitions for <%=typingName%> <%=typingVersion ? 'v' + typingVersion : ''%>
// Project: <%=libraryUrl%>
// Definitions by: <%=githubName%> <http://github.com/<%=githubName%>>
// Definitions: https://github.com/borisyankov/DefinitelyTyped

// typing references

declare module <%=typingName%>Module
{
    // variables

    // functions

    // interfaces

    // classes
    export class <%=typingName.substr(0, 1).toUpperCase() + typingName.substring(1)%> {
	}
}

declare module "<%=typingName%>" {
    export = <%=typingName%>Module;
}

declare var <%=typingName%>: <%=typingName%>Module.<%=typingName.substr(0, 1).toUpperCase() + typingName.substring(1)%>;